/* Conteneur principal */
.planning-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin: 20px;
}

/* Navigation */
.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.nav-button {
  background-color: #a1e455;
  color: black;
  border: none;
  padding: 10px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}

.nav-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.nav-button:hover:not(:disabled) {
  background-color: #a1e455;
}


.day-header {
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}


.no-slots {
  color: #b0b0b0;
  font-style: italic;
}

.slot-button {
    background-color: #e0e0e0;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .slot-button:hover {
    background-color: #c0c0c0;
  }
  
  /* Créneau sélectionné */
  .slot-button.selected {
    background-color: #a1e455; /* Fond jaune */
    font-weight: bold;
  }
  
  /* Créneau désactivé */
  .slot-button:disabled {
    background-color: #f0f0f0;
    color: #999;
    cursor: not-allowed;
  }
  

  
  

  /* Conteneur principal pour les jours */
  .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center; /* Centrer les colonnes */
    align-items: center;
    margin: 0 auto; /* Éviter les marges externes inutiles */
    

  }
  
  /* Colonne d'un jour */
  .day-column {
    flex: 1 1 calc(20% - 1rem); /* 6 éléments par ligne */
    max-width: calc(30% - 1rem); 
  }
  
  /* Adaptation pour les tailles d’écran */
  @media (max-width: 1200px) {
    .day-column {
      flex: 1 1 calc(20% - 1rem); /* 2 éléments par ligne */
      max-width: calc(40% - 1rem);
    }
  }
  
  @media (max-width: 800px) {
    .day-column {
      flex: 1 1 10%; /* 1 élément par ligne */
      max-width: 100%;
    }
  }
  